.random-numbers-table {
    display: flex;
    font-size: 1.2rem;
    padding-left: 2rem;
    .column {
        border: 1px solid black;
        margin-right: 1px;
        > * {
            padding: 0.2rem 1rem;
        }
    }
    .header,
    .item {
        text-align: center;
    }
    .header {
        font-weight: 700;
        color: white;
        background-color: black;
    }
    .item:nth-child(even) {
        background-color: #c9ccd1;
    }
}
